ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #404040;
}

#charts-container {
	display: block;

}

#charts-buttons {
	display: inline-block;
	align: center;
}

#vertical-bar {
        border-left: 1px solid #ccc;
        width:2px;
        height:500px;
}

td.col-md-4{
	margin-top: 10px;
    vertical-align: top;
}

.precio{
	margin-left: 7px;
	margin-bottom: 10px;
}

.barato{
	color: green;
	font-weight: bold;
}

.caro{
	color: red;
	font-weight: bold;
}

.bombilla{
	margin-top: 10px;
}

#backlink{
	font-size: small;
}

#box {
    display: inline-block;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
}

#register-form{
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}

 
input:required:invalid {
 
border: 2px solid red;
 
}
 
input:required:valid {
 
border: 2px solid green;
 
}
