ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #404040;
}

#charts-container {
	display: block;

}

#charts-buttons {
	display: inline-block;
	align: center;
}

#vertical-bar {
        border-left: 1px solid #ccc;
        width:2px;
        height:500px;
}