#{extends 'standard.html'/}

#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/lib/jquery.numeric.js'}"></script>
	<script type="text/javascript" src="@{'/public/js/preciosAPI.js'}"></script>
	<script type="text/javascript" src="@{'/public/js/precios.js'}"></script>

#{/set}

</!DOCTYPE html>
<html lang="es">

	<head>
	    <title>Energy Saving - Precios</title>
	</head>
	
	<body>
	#{header/}
	
		<div id="container">
			<table class="table">
				<tbody>
					<tr>
					
						<div id="hidden-inputs">
								<input type="hidden" id="preciosHoy" value="${preciosHoy}"/>
								<input type="hidden" id="preciosHoyDisc" value="${preciosHoyDisc}"/>
								<input type="hidden" id="mediasDiasSemana" value="${mediasDiasSemana}"/>
								<input type="hidden" id="mediasMeses" value="${mediasMeses}"/>
						</div>
					
						<td class="col-md-4">
							<div id="left-menu">
								<br/><br/>
								<label>Introduzca precio fijo</label><br/>
								<input id="precio-fijo-usuario" type="text"/><br/>
								<input id="mostrar-precio-usuario" type="button" value="Mostrar"/>
								<input id="borrar-precio-usuario" type="button" value="Borrar"/>
								<br/><br/>
								<label>¿Precios con discriminación horaria?</label><br/>
								<input type="radio" value="1" name="discriminacion"/>Si<br/>
								<input type="radio" value="0" name="discriminacion" checked/>No
							</div>
										
						</td>
						
						<td class="col-md-1">
							<div id="vertical-bar"></div>
						</td>
						
						<td class="col-md-7">
							
							
							<div id="charts-container">
			
								<div id="charts-buttons">
									<input id="precios-dia-button" type="button" value="Dia"/>
									<input id="precios-semana-button" type="button" value="Semana"/>
									<input id="precios-meses-button" type="button" value="Meses"/>
									<input type="text" placeholder="aaaa-mm-dd" id="datepicker-precio"/>
									<input type="hidden" id="fecha-seleccionada"/>
								</div>
						
								<div id="precios-dia-chart" style="width:800px"></div>
								
								<div id="precios-semana-chart" style="width:800px"></div>
								
								<div id="precios-meses-chart" style="width:800px"></div>
						
							</div>
						
						</td>
					
					</tr>
				</tbody>
			</table>

		</div>
	
	</body>

</html>