#{extends 'standard.html'/}

#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/js/resumen.js'}"></script>
#{/set}

</!DOCTYPE html>
<html lang="es">

	<head>
	    <title>Energy Saving - Consumos</title>
	</head>
	
	<body>
	
	#{if user}	
		#{headerregistered/}	
		<br/>
		<strong>Bienvenido ${user}!</strong>
		
	#{/if}
	#{else}
		#{header/}
	#{/else}
	
	
		<div id="hidden-inputs">
			<input type="hidden" id="diaMasBarato" value="${diaMasBarato}"/>
			<input type="hidden" id="diaMasCaro" value="${diaMasCaro}"/>
		</div>
	
		<div id="consejos-precios">
			<h3><strong>Precios</strong></h3>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">El mejor momento para consumir del día de hoy es a las <strong>${horaBarataA}:00</strong>!! (<span class="barato">${precioBaratoA}</span>€/kWh)</span><br/>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">Es mejor que evites consumir a las <strong>${horaCaraA}:00</strong>. (<span class="caro">${precioCaroA}</span>€/kWh)</span><br/>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">Si tienes discriminación horaria el mejor momento para consumir es a las <strong>${horaBarataDHA}:00</strong>!! (<span class="barato">${precioBaratoDHA}</span>€/kWh)</span><br/>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">Si tienes discriminación horaria el peor momento para consumir es a las <strong>${horaCaraDHA}:00</strong>!! (<span class="caro">${precioCaroDHA}</span>€/kWh)</span><br/>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">De media, el día más barato para consumir es el <span class="barato">${diaMasBarato}</span>!!</span><br/>
			<img class="bombilla" src="@{'/public/images/energia-symbol.png'}"/><span class="precio">Deberías evitar usar electrodomésticos de alto consumo como lavadoras los <span class="caro">${diaMasCaro}</span>, ya que de media es el día más caro de la semana.</span><br/>
		</div>
		<br/>
		<div id="consejos-consumos">
			<h3><strong>Consumos en <span id="resumen-fecha"></span></strong></h3>
			<div id="recomendaciones-consumo">
				<img class="bombilla" src="@{'/public/images/consumo-symbol.png'}"/><span class="precio" id="diaMayorConsumo"></span><br/>
				<img class="bombilla" src="@{'/public/images/consumo-symbol.png'}"/><span class="precio" id="diaMenorConsumo"></span><br/>
				<img class="bombilla" src="@{'/public/images/consumo-symbol.png'}"/><span class="precio" id="tramoBarato"></span><br/>
				<img class="bombilla" src="@{'/public/images/consumo-symbol.png'}"/><span class="precio" id="laborales"></span><br/>
			</div>
			<div id="nocsv">
				<img src="@{'/public/images/consumo-symbol.png'}"/><span><strong>Para ver recomendaciones sobre tus hábitos de consumo por favor, carga un archivo CSV con tu consumo.</strong></span>
			</div>
		</div>
		
	</body>

</html>