#{extends 'main.html'/}

#{set 'moreStyles'}
    <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/overcast/jquery-ui.css">
    
    #{get 'moreStyles'/}
#{/set}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/lib/jquery-1.9.0.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/lib/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/lib/jquery-ui-1.10.0.custom.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/lib/wysihtml5-0.3.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/lib/bootstrap-wysihtml5.js'}"></script>
    <script type="text/javascript" src="@{'/public/lib/papaparse.min.js'}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    
    #{get 'moreScripts'/}
#{/set}


#{doLayout /}
